.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 16px;
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 289px;
  height: 40px;
  margin: 0 auto;
}

.button:hover {
  background-color: #d9d9d9;
}

.button:focus {
  background-color: #d9d9d9;
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
}

.button:disabled {
  background-color: #d9d9d9;
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  opacity: 0.3;
}

/* Tablet */
@media (min-width: 768px) {
  .button {
    width: 267px;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .button {
    width: 216px;
  }
}