.header {
    background-color: #3d2218;
    position: relative;
    color: white;
    padding: 14px 16px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: left;
}

/* Приховуємо десктопну навігацію на мобілці */
.desktopNav {
    display: none;
}

/* Мобільне меню */
/* Базові стилі */
.mobileMenu {
    display: none;
}

/* Активні стилі — лише коли меню відкрите */
.mobileMenu.open {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    width: 100%;
    padding-top: 32px;
    padding-bottom: 26px;
    z-index: 999;
    text-align: center;
}


/* ====  Планшет   ==== */

@media (min-width: 768px) {
    .header {
        padding: 14px 32px;
    }

    .container {
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        margin: 0 auto;
    }

    .desktopNav {
        display: block;
    }

    .mobileMenu.open {
        display: none;
    }
}

/* ====   Десктоп (великий екран)   ====  */

@media (min-width: 1024px) {
    .header {
        padding: 14px 108px;
    }
}