.area {
  position: relative;
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center 25%;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  padding-top: 128px;
  padding-right: 32px;
}

.area::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.3) 100%);
  z-index: 0;
}

.title,
.form {
  position: relative;
  z-index: 1;
}

.title{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0;
    color: var(--White, rgba(255, 255, 255, 1));
    padding-bottom: 24px;
  }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 329px;
  margin-left: auto;
  margin-right: auto;
}

.input {
  padding: 12px;
  border: 1px solid #d9d9d9;
  border: none;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
}

.input::placeholder {
  color: #999;
}

.input,
.button {
  width: 100%;
  height: 48px;
  font-size: 16px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0 12px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #fff;
  background-color: #9b643d;
  border: none;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #86512f;
}

/* ===== Mobile ===== */

@media screen and (max-width: 767px) {
  
.area{
  padding-left: 32px; 
  padding-right: 32px;
  padding-bottom: 98px;
}

.form {
  gap: 14px;
}

.input,
.button {
  height: 46px;
  font-size: 18px;
  }
}

/* === Tablet === */
@media screen and (min-width: 768px) {

  .area{
  padding-left: 32px; 
  padding-right: 65px;
  padding-bottom: 128px;
  }

  .form {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    max-width: 671px;
    margin: 0;
  }

  .input {
    width: 471px;
    height: 46px;
    font-size: 18px;
  }

  .button {
    width: 176px;
    height: 46px;
    font-size: 18px;
  }
}

/* === Desktop === */
@media screen and (min-width: 1440px) {

  .area{
  padding-left: 108px; 
  padding-bottom: 128px;
  }

  .form {
    gap: 12px;
  }

  .input {
    min-width: 460px;
    height: 46px;
    width: 459px;
  }

  .button {
    width: 190px;
    height: 46px;
    font-size: 18px;
  }
}
